﻿@model SweetShop_2.Web.Models.Order.OrderVM
@{
    ViewData["Title"] = "OrderDetails";
}

<h1>Details</h1>
<div>


    <label>Order Id: </label>
    <input class="form-control col-xl-3" type="text" value="@Model.OrderId" disabled />

    <label>Customer Id: </label>
    <input type="text" class="form-control col-xl-3" value="@Model.customerId" disabled />

    <label>Order Date: </label>
    <input type="text" class="form-control col-xl-3"
           value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.OrderDate))" disabled />

    <br />
    <br />
</div>
<div class="col">
    <h3>Order Items</h3>

    <table class="table" align="center">
        <tr>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Unit Price</th>

        </tr>
        @{
            var total = 0;
        }
        @foreach (var orderitems in Model.orderItems)
        {
            <tr>
                <td>@orderitems.ProductId</td>
                <td>@orderitems.Quantity</td>
                <td>@orderitems.Price</td>


            </tr>

            total = total + (orderitems.Quantity * orderitems.Price);

        }
    </table>
    <br />
    <label class="font-weight-bold">Grand total:  </label>
    <input type="text" class="form-control col-xl-3" value="@total" disabled />

</div>

@*<div>
        <lable>Grand Total:  </lable>

    </div>*@

