﻿@model SweetShop_2.Web.Models.Order.OrderViewModel
@{
    ViewData["Title"] = "OrderList";
}

<h1>Order List</h1>
<table class="table">
    <tr>
        <th>Order Id</th>
        <th>Customer Id</th>
        <th>Order Date</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var order in Model.order)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.customerId</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", order.OrderDate))</td>
                <td>
                    <a asp-controller="AddOrder"
                       asp-action="OrderDetails"
                       asp-route-id="@order.OrderId" id="detailslink">
                        Details
                    </a>|
                    <a asp-controller="AddOrder"
                       asp-action="updateOrder"
                       asp-route-id="@order.OrderId" id="updatelink">
                        Edit
                    </a>|
                    <a asp-controller="AddOrder"
                       asp-action="DeleteOrder"
                       asp-route-id="@order.OrderId" id="deletelink">

                        Delete
                    </a>|

                    @*@Html.ActionLink("Details", "OrderDetails", new { Id = order.OrderId }) |
                        @Html.ActionLink("Edit", "updateOrder", new { Id = order.OrderId }) |
                        @Html.ActionLink("Delete", "DeleteOrder", new { Id = order.OrderId }) |*@
                </td>
            </tr>
        }
    </tbody>


</table>
<script src="~/js/DeleteOrder.js"></script>








