﻿@model SweetShop_2.Web.Models.Order.UpdateOrderViewModel
@{
    ViewData["Title"] = "UpdateOrder";
}

<h1>Update Order</h1>
<form asp-action="UpdateOrder" method="post">


    <div>


        <label>Order Id: </label>
        <input class="form-control col-xl-3" name="id" id="upOrderId" type="text" value="@Model.OrderId" disabled />

        <label>Customer Id: </label>
        <input type="text" id="upCustomerId" class="form-control col-xl-3" value="@Model.customerId" disabled />

        <label>Order Date: </label>
        <input type="text" id="updateTime" class="form-control col-xl-3"
               value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.OrderDate))" disabled />

    </div>
    <br />
    <br />
    @*<form method="post" asp-action="DeleteorderLine">*@
    <div class="col">
        <h2>Order Items</h2>
        <table class="table" align="center" id="tableUpdate">
            <tr>
                <th>Product Id</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>

            <tbody id="lineContainer">
                @for (int i = 0; i < Model.orderItems.Count; i++)
                {



                    var order = Model.orderItems[i];

                    <tr class="line-row">
                        <td>
                            <input type="text" name="[@i].productId" value="@order.ProductId" hidden />
                            <p>@order.ProductId</p>
                        </td>
                        <td>
                            <input type="text" name="[@i].quantity"
                                   oninput="CalUpdatedPrice();" value="@order.Quantity" />
                        </td>
                        <td>
                            <input type="text" name="[@i].price" value="@order.Price" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>

                        <td>
                            <input type="number" name="[@i].orderItemId" value="@order.OrderItemId" hidden />
                        </td>
                        <td>
                            <button class="btn btn-danger delete-button" align="left">Delete</button>
                        </td>

                    </tr>

                }
            </tbody>
        </table>

        <div align="center">
            <button id="update">Update</button>
        </div>
        @*</form>*@
        <script src="~/js/EditOrder.js"></script>
    </div>

</form>

